<?php $this->load->helper('url'); ?>

<html>
<head>
<link rel="stylesheet" href="../../../public_html/css/emails.css">


</head>
<body>
<div class="email_body">
	<div class="invite_main">
		<div class="invite_banner"></div>
		<p class="invite_text"><span class="invite_emphasis_text">David Muthafucka Rockwood </span> has invited you to join Webstrings - a beautiful new tool that makes colaborative research possible.<br><br> Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Daniel Haarburger</p>
		<div class="get_started_button"><a href="http://bit.ly/3Z6did">Get Started!</a></div>
		<br>
		<hr>
		<div class="email_footer">
				<li><a href="http://facebook.com">F</a></li>
				<li><a href="http://twitter.com">T</a></li>
				<li><a href="http://gmail.com">M</a></li>
				<li class="bottom_text"><a href="http://web-strings.com">Visit The Site</a></li>
				<li class="bottom_text"><a href="http://bit.ly/3Z6did">Don't Click</a></li>
		</div>

	</div>
</div>
</body>


</html>