<?php $this->load->helper('url'); ?>

<html>
<head>
<link rel="stylesheet" href="../../../public_html/css/emails.css">


</head>
<body>
<div class="email_body">
	<div class="invite_main">
		<div class="join_banner"></div>
		<p class="invite_text join_main"><span class="invite_emphasis_text">David Muthafucka Rockwood </span>has invited you to join the web collection <span class="string_name">Ass and Titties</span>. Click below to accecpt his invitation.</p>
		<div class="get_started_button"><a href="http://bit.ly/3Z6did">Accept Invite</a></div>
		<br>
		<hr>
		<div class="email_footer">
				<li><a href="http://facebook.com">F</a></li>
				<li><a href="http://twitter.com">T</a></li>
				<li><a href="http://gmail.com">M</a></li>
				<li class="bottom_text"><a href="http://web-strings.com">Visit The Site</a></li>
				<li class="bottom_text"><a href="http://bit.ly/3Z6did">View Invite</a></li>
		</div>

	</div>
</div>
</body>


</html>